* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #1c2841;
}

.input-container {
	width: 680px;
}

.entry-area {
	position: relative;
	height: 80px;
	line-height: 80px;
}

input {
	position: absolute;
	width: 100%;
	outline: none;
	font-size: 1.6em;
	padding: 0 30px;
	line-height: 80px;
	border-radius: 10px;
	border: 2px solid #f0ffff;
	color: white;
	background: transparent;
	transition: 0.1s ease;
	z-index: 1;
}

.label-line {
	position: absolute;
	font-size: 1.6em;
	background-color: #1c2841;
	color: #f0ffff;
	padding: 0 25px;
	margin: 0 20px;
	transition: 0.2s ease;
}

input:focus,
input:valid {
	border: 2px solid orange;
}

input:focus + .label-line,
input:valid + .label-line {
	color: orange;
	height: 30px;
	line-height: 30px;
	padding: 0 12px;
	transform: translate(-15px, -16px) scale(0.88);
	z-index: 1;
}

.information {
	display: none;
	width: 600px;
	background-color: #f0ffff;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
}

button {
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	margin: 20px;
}

button:hover {
	opacity: 30%;
	transition: 100ms;
}

@media (max-width: 640px) {
	.input-container {
		width: 100vw;
	}

	input {
		line-height: 70px;
	}

	.label-line {
		font-size: 16px;
	}

	.information {
		width: 400px;
	}
}